ClientCore/Service References/ServiceRef/DarPooling1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2519/DarPooling.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Communication" />
  <xs:element name="GetSimpleUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Communication" minOccurs="0" name="inputUsers" nillable="true" type="q1:ArrayOfSimpleUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Communication" minOccurs="0" name="GetSimpleUsersResult" nillable="true" type="q2:ArrayOfSimpleUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>